.subscribe__content {
  width: 624px;
  height: 390px;
  display: flex;
  flex-direction: column;
  margin-left: 104px;
  & * {
    margin: 0;
    padding: 0;
  }
  & h3 {
    @include subscribeTitle;
    margin-bottom: 8px;
  }
  & p {
    @include subscribeSubTitle;
    max-width: 584px;
  }
  & input[type="text"] {
    @include subscribeInputText;
    color: map-get($mainColors, white-dark);
    width: 280px;
    height: 49px;
    border-radius: 88px;
    border: 1.5px solid map-get($mainColors, white-dark);
    display: flex;
    justify-content: center;
    background-color: inherit;
    padding: 0 24px;
    margin-right: 16px;

    &::placeholder {
      @include subscribeInputText;
    }
  }
  & div {
    display: flex;
    margin-top: 88px;
    & button {
      width: 280px;
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background-color: map-get($textColors, coral-dark);
      border: none;
      cursor: pointer;
      @include subscribeButtonText;
    }
  }

  & span {
    display: flex;
    margin-top: 16px;
    & input[type="checkbox"] {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 16px;
    }
    & > p {
      @include subscribeAdditionalText;
    }
  }
}
