.webinars__background {
  background-color: map-get($mainColors, black-dark);
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
