.article__button {
  margin-top: 56px;
  width: 232px;
  height: 59px;
  border-radius: 40px;
  background-color: map-get($tagColors, grass);
  border: none;
  outline: 2px solid map-get($mainColors, black-dark);
  outline-offset: -7px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  cursor: pointer;
}