.header {
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  & * {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
  }
}
