.article__big-container-left-column {
  width: 376px;
  height:  144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto 19px auto 0;
}