@charset "UTF-8";
@import url("../../public/fonts/fonts.css");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 250, 249);
  color: rgb(27, 31, 33);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header * {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
}

.header__content {
  width: 1208px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 16px auto;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  height: 37px;
  border: 1.2px rgb(232, 232, 232) solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  margin-right: 10px;
  cursor: pointer;
}
.header__menu-item:last-of-type {
  margin-right: 0;
}
.header__menu-item#Diseño:hover {
  background-color: rgb(236, 149, 177);
}
.header__menu-item#Programación:hover {
  background-color: rgb(164, 204, 254);
}
.header__menu-item#Gaming:hover {
  background-color: rgb(190, 219, 57);
}
.header__menu-item#Marketing:hover {
  background-color: rgb(255, 173, 32);
}
.header__menu-item#Software:hover {
  background-color: rgb(172, 214, 222);
}
.header__menu-item#Carrera:hover {
  background-color: rgb(174, 223, 214);
}

.header__menu-rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__menu-link {
  margin-left: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgb(190, 219, 57);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.header__menu-link:hover::after {
  transform: scaleX(1);
}

.header__menu-image {
  margin-left: 9px;
  display: block;
  height: 16px;
  width: 16px;
}

.header__menu-search {
  display: block;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.header__logo {
  display: block;
  height: 40px;
  width: 108px;
}

.article {
  width: 1208px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mask {
  -webkit-mask-image: url("../../../../public/images/maskGirlLaptop.png");
}

.mask__image {
  width: 480px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.mask__image-stiker {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 2s ease-in-out;
}
.mask__image-stiker:hover {
  transform: rotate(360deg);
}

.article__container {
  position: relative;
  width: 480px;
  height: 560px;
}
.article__container * {
  display: block;
  margin: 0;
  padding: 0;
}

.article__content {
  width: 688px;
  height: 468px;
  display: flex;
  flex-direction: column;
}

.article__content-tags {
  height: 37px;
}
.article__content-tags * {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article__content-list {
  align-items: center;
}

.article__content-list-tag {
  margin-right: 10px;
  cursor: pointer;
  color: rgb(148, 172, 35);
}
.article__content-list-tag:first-of-type {
  font-weight: 500;
  height: 37px;
  color: rgb(27, 31, 33);
  background-color: rgb(190, 219, 57);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  margin-right: 10px;
}
.article__content-list-tag:last-of-type {
  margin: 0;
}

.article__title {
  font-family: "ArchivoBlack", sans-serif;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 400;
  margin: 18px 0 0;
}

.article__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 400;
  color: rgb(117, 119, 120);
  width: 480px;
  margin: 16px 0 0;
}

.article__accent {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(174, 174, 174);
}
.article__accent img {
  display: block;
  height: 16px;
  width: 16px;
}
.article__accent * {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.article__accent span:first-of-type {
  margin-right: 24px;
}
.article__accent p {
  margin-left: 8px;
}

.article__button {
  margin-top: 56px;
  width: 232px;
  height: 59px;
  border-radius: 40px;
  background-color: rgb(190, 219, 57);
  border: none;
  outline: 2px solid rgb(27, 31, 33);
  outline-offset: -7px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  cursor: pointer;
}

.backgroundLine {
  display: block;
  position: absolute;
  z-index: -1;
  top: -30;
  left: -100;
  transform: rotate(-3deg);
}/*# sourceMappingURL=index.css.map */