.maskSubscribe {
  -webkit-mask-image: url("../../../../public/images/cssMasks/bigSize/subscribe.png");
  width: 1208px;
  height: 518px;
  background-color: map-get($textColors, turquoise-dark);
  margin: 134px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  & > img {
    display: block;
    width: 416px;
    height: 518px;
    order: 2;
  }
}
